.container{
  min-height: inherit;
  max-height: 100vh;
  min-width: 200px;
  border: 1px solid grey;
  background-color: white;
  align-self: flex-start;
  display: flex;
  flex-direction: column;

  ul {
    flex-grow: 1;
    overflow-y: auto;
    li {
      background-color: #00C4A2;
    }
    & > :nth-child(odd) {
      background-color: lightblue;
    }
  }

}

.itemContainer{
  cursor: pointer;
  min-height: 30px;
  padding: 10px;
  min-width: 80px;
}


.selectedChat {
  border: 1px solid red;
}